/* .app-info {
    background-color: rgba(8, 147, 166, 1);
    border-radius: 10px;
    margin-bottom: 21px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.22);
    -moz-box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.22);
    box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.22);
} */

/* .app-info__content {
    padding: 35px 31px 40px 31px;
} */

/* .app-title {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 25px;
    color: #fff;
}

.app-subtitle {
    font-size: 24px;
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
}
.app-subtitle--all {
    margin-bottom: 15px;
} */