li {
    list-style-type: none;
}

.cars-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 3px;
    padding-left: 13px;
    padding-right: 13px;
    transition: .8s;
}

.cars-list-item__name {
    cursor: pointer;
}

.cars-list-item--to-sale {
    color: red;
}

.cars-list-item:not(:last-child) {
    margin-bottom: 15px;
}

.cars-list-item__price {
    width: 100px;
    border: none;
    outline: none;
    text-align: right;
    margin-right: 50px;
}

.cars-list-item-additional {
    display: flex;
    align-items: first baseline;
}

.cars-btns__item {
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.2;
    transition: .3s;
}

.cars-btns__item > img {
    display: block;
}

.cars-btns__for-sale {
    transition: .3s;
}

.cars-btns__item--active {
    opacity: 1;
}

@media screen and (max-width: 362px) {
    .cars-list-item__price {
        margin-right: 20px;
    }
}

@media screen and (max-width: 331px) {
    .cars-list-item__price {
        margin-right: 8px;
    }
}